.cursor-pointer {
  cursor: pointer;
}

.lockscreen {
  background-color: #e9ecef;
  height: 100vh;
  display: flex;
}

.invalid-feedback {
  display: block;
  color: red;
}

.justify-between {
  justify-content: space-between;
}

.full-height {
  height: 100%;
}

.css-13cymwt-control {
  height: 100%;
}
